<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98ae61">  <td>21/06/08 09:43:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String, java.lang.String, org.testng.ITestContext, java.lang.reflect.Method)[pri:0, instance:Google.GoogleTest@3043fe0e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1372082959</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>21/06/08 09:43:03</td>   <td>2780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.TC01()[pri:0, instance:Google.GoogleTest@3043fe0e]">TC01</td> 
  <td>main@1372082959</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>21/06/08 09:43:03</td>   <td>2792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:Google.GoogleTest@3043fe0e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1372082959</td>   <td></td> </tr>
</table>
