<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="768fa9">  <td>21/06/11 15:34:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.String, java.lang.String, org.testng.ITestContext, java.lang.reflect.Method)[pri:0, instance:Railway.FinalExamSeleniumTest@460d0a57]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Suit Test For Final Exam Selenium Java 2-2@1598514468</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/06/11 15:34:59</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.String, java.lang.String, org.testng.ITestContext, java.lang.reflect.Method)[pri:0, instance:Railway.FinalExamSeleniumTest@460d0a57]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Suit Test For Final Exam Selenium Java 2-2@1598514468</td>   <td></td> </tr>
<tr bgcolor="84f46f">  <td>21/06/11 15:35:03</td>   <td>3913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinalExamSeleniumTest.FTTC01()[pri:0, instance:Railway.FinalExamSeleniumTest@460d0a57]">FTTC01</td> 
  <td>TestNG-test=Suit Test For Final Exam Selenium Java 2-1@1856602566</td>   <td></td> </tr>
<tr bgcolor="84f46f">  <td>21/06/11 15:35:03</td>   <td>4009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinalExamSeleniumTest.FTTC02()[pri:0, instance:Railway.FinalExamSeleniumTest@460d0a57]">FTTC02</td> 
  <td>TestNG-test=Suit Test For Final Exam Selenium Java 2-2@1598514468</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/06/11 15:35:53</td>   <td>53853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:Railway.FinalExamSeleniumTest@460d0a57]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Suit Test For Final Exam Selenium Java 2-1@1856602566</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/06/11 15:35:53</td>   <td>54184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:Railway.FinalExamSeleniumTest@460d0a57]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Suit Test For Final Exam Selenium Java 2-1@1856602566</td>   <td></td> </tr>
</table>
