<h2>Reporter output</h2><table><tr><td><b>INFO: </b>FTTC01 - User can filter 'Manager ticket' table with Depart Station</td></tr>
<tr><td>06.11.2021 - 15:35:03 - INFO: FTTC01 - User can filter 'Manager ticket' table with Depart Station</td></tr>
<tr><td><b>INFO: </b>1. Navigate to QA Railway Website</td></tr>
<tr><td>06.11.2021 - 15:35:03 - INFO: 1. Navigate to QA Railway Website</td></tr>
<tr><td><b>INFO: </b>Pre-condition: Create and activate a new account</td></tr>
<tr><td>06.11.2021 - 15:35:03 - INFO: Pre-condition: Create and activate a new account</td></tr>
<tr><td><b>INFO: </b>Error displays when user applies filter with un-existed value of 'Status' in 'Manage ticket' table</td></tr>
<tr><td>06.11.2021 - 15:35:03 - INFO: Error displays when user applies filter with un-existed value of 'Status' in 'Manage ticket' table</td></tr>
<tr><td><b>INFO: </b>1. Navigate to QA Railway Website</td></tr>
<tr><td>06.11.2021 - 15:35:03 - INFO: 1. Navigate to QA Railway Website</td></tr>
<tr><td><b>INFO: </b>Pre-condition: Create and activate a new account</td></tr>
<tr><td>06.11.2021 - 15:35:03 - INFO: Pre-condition: Create and activate a new account</td></tr>
<tr><td><b>INFO: </b>Go to Register Page</td></tr>
<tr><td>06.11.2021 - 15:35:07 - INFO: Go to Register Page</td></tr>
<tr><td><b>INFO: </b>Go to Register Page</td></tr>
<tr><td>06.11.2021 - 15:35:07 - INFO: Go to Register Page</td></tr>
<tr><td><b>INFO: </b>Register a new account</td></tr>
<tr><td>06.11.2021 - 15:35:08 - INFO: Register a new account</td></tr>
<tr><td><b>INFO: </b>Register a new account</td></tr>
<tr><td>06.11.2021 - 15:35:08 - INFO: Register a new account</td></tr>
<tr><td><b>INFO: </b>Open activate mail box</td></tr>
<tr><td>06.11.2021 - 15:35:10 - INFO: Open activate mail box</td></tr>
<tr><td><b>INFO: </b>Open activate mail box</td></tr>
<tr><td>06.11.2021 - 15:35:10 - INFO: Open activate mail box</td></tr>
<tr><td><b>INFO: </b>Login to activate mail box</td></tr>
<tr><td>06.11.2021 - 15:35:11 - INFO: Login to activate mail box</td></tr>
<tr><td><b>INFO: </b>Login to activate mail box</td></tr>
<tr><td>06.11.2021 - 15:35:11 - INFO: Login to activate mail box</td></tr>
<tr><td><b>INFO: </b>Active new created account</td></tr>
<tr><td>06.11.2021 - 15:35:17 - INFO: Active new created account</td></tr>
<tr><td><b>INFO: </b>Active new created account</td></tr>
<tr><td>06.11.2021 - 15:35:18 - INFO: Active new created account</td></tr>
<tr><td><b>INFO: </b>2. Login with valid account</td></tr>
<tr><td>06.11.2021 - 15:35:25 - INFO: 2. Login with valid account</td></tr>
<tr><td><b>INFO: </b>2. Login with valid account</td></tr>
<tr><td>06.11.2021 - 15:35:26 - INFO: 2. Login with valid account</td></tr>
<tr><td><b>INFO: </b>3. Book more than 6 tickets with different Depart Stations</td></tr>
<tr><td>06.11.2021 - 15:35:28 - INFO: 3. Book more than 6 tickets with different Depart Stations</td></tr>
<tr><td><b>INFO: </b>3. Book more than 6 tickets</td></tr>
<tr><td>06.11.2021 - 15:35:29 - INFO: 3. Book more than 6 tickets</td></tr>
<tr><td><b>INFO: </b>4. Click on 'My ticket' tab</td></tr>
<tr><td>06.11.2021 - 15:35:51 - INFO: 4. Click on 'My ticket' tab</td></tr>
<tr><td><b>INFO: </b>4. Click on 'My ticket' tab</td></tr>
<tr><td>06.11.2021 - 15:35:51 - INFO: 4. Click on 'My ticket' tab</td></tr>
<tr><td><b>INFO: </b>5. Select 'Paid' for 'Status'</td></tr>
<tr><td>06.11.2021 - 15:35:52 - INFO: 5. Select 'Paid' for 'Status'</td></tr>
<tr><td><b>INFO: </b>6. Click 'Apply filter' button</td></tr>
<tr><td>06.11.2021 - 15:35:52 - INFO: 6. Click 'Apply filter' button</td></tr>
<tr><td><b>INFO: </b>5. Select one of booked Depart Station in 'Depart Station' dropdownlist</td></tr>
<tr><td>06.11.2021 - 15:35:52 - INFO: 5. Select one of booked Depart Station in 'Depart Station' dropdownlist</td></tr>
<tr><td><b>INFO: </b>6. Click 'Apply filter' button</td></tr>
<tr><td>06.11.2021 - 15:35:52 - INFO: 6. Click 'Apply filter' button</td></tr>
<tr><td><b style="color: blue;word-break:break-word;"><i style="color: orange">VERIFY POINT: </i>'Manage ticket' table shows message 'Sorry, can't find any results that match your filters. Please change the filters and try again.'</b></td></tr>
<tr><td>06.11.2021 - 15:35:53 - VERIFY POINT: 'Manage ticket' table shows message 'Sorry, can't find any results that match your filters. Please change the filters and try again.'</td></tr>
<tr><td><b style="color: blue;word-break:break-word;"><i style="color: orange">VERIFY POINT: </i>'Manage ticket' table shows correct ticket(s)</b></td></tr>
<tr><td>06.11.2021 - 15:35:53 - VERIFY POINT: 'Manage ticket' table shows correct ticket(s)</td></tr>
</table>